* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.text-primary {
  color: #f15e2b;
}

.btn .btn-primary {
  background-color: #f15e2b;
  color: white;
}

a {
  color: #000;
}

.dropdown-filter {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inventories-table .ant-table-body {
  max-height: calc(100vh - 280px) !important;
}
